/* * {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  height: 70px;
  background-color: #333;
}
.navbar-brand {
  height: 150px;
  padding-left: 20px;
  width: 9091px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #e76565 !important;
  font-weight: 700;
}
#Logo {
  height: 70px;
  width: 70px;
  colo
} */

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
.search {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
.carouselExampleControls      
